
p {
  /*white-space:nowrap;*/
  font-family:serif;
  background-color: lightblue;
}
  /*
  font-family:sans-serif;
  margin-left: 10px;
  padding-left: 15px;*/

h1 {
  background-color: violet;
}

body {
  font-family: cursive;
  background-color: grey;
}
